#title {
  font-size: 4rem;
  font-weight: 500;
}
hr {
  font-size: 2px;
}
h2 {
  color: white !important;
}
img {
  max-width: 50%;
  object-fit: cover;
}
#ratings {
  color: white !important;
}

input#option1.form-check-input {
  background-color: transparent;
  border: solid 1px #6c757d;
  height: 30px;
  width: 30px;
  border-radius: 0px;
  margin-right: 15px;
}

input#option2.form-check-input {
  background-color: transparent;
  border: solid 1px #6c757d;
  height: 30px;
  width: 30px;
  border-radius: 0px;
  margin-right: 15px;
}

label.form-check-label {
  color: white !important;
}
label.second.form-check-label {
  color: white !important;
}
label {
  display: block !important;
}

#edit:hover {
  background-color: whitesmoke;
  color: black !important;
}

.logo {
  width: 8%;
  height: auto;
}
