body {
  font-family: "Roboto", sans-serif;
  background-color: #141414 !important;
}

.logo {
  width: 100px;
  height: auto;
}
i:hover {
  cursor: pointer;
}

.imgProfile {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.otherCol {
  margin-top: 24px;
}

.footerColor {
  color: #999 !important;
}
